.login{
    display: grid;
    place-items: center;
    height: 50vh;
    background-color: #f0f2f5;
}

.login button{
    background-color: #24599f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.login Button{
    background-color: #24599f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}